<ion-view title="Write a comment">
  <ion-content class="has-header padding">
    <div class="list card">
        <div class="item">
            <h2>{{post.title}}</h2>
            <p>{{post.pubDate}}</p>
        </div>

        <div class="item item-body">
            <!-- Exclude non-images -->
            <div ng-repeat="file in post.resources.attachments" ng-if="file.type == 'image'">
                <img class="full-image" ng-src='{{file.path}}' alt='{{file.name}}' />
            </div>
            
            <p>
                {{post.description}}
            </p>
            <p>
                <a href="#" class="subdued">0 Comments</a>
            </p>
        </div>

    </div>
  </ion-content>
</ion-view>
