<ion-view title="Sling Blog">
  <ion-content class="has-header padding">
    <div class="list card" ng-repeat="post in blogPostList">
        <div class="item">
            <h2>{{post.title}}</h2>
            <p>{{post.pubDate}}</p>
        </div>

        <div class="item item-body">
            <!-- Exclude non-images -->
            <div ng-repeat="file in post.resources.attachments" ng-if="file.type == 'image'">
                <img class="full-image" ng-src='{{file.path}}' alt='{{file.name}}' />
            </div>
            
            <p>
                {{post.description}}
            </p>
            <p>
                <a href="#" class="subdued">0 Comments</a>
            </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-chatbox"></i>
                Comment
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-share"></i>
                Share
            </a>
        </div>

        </div>
    </div>

    <div class="list card" ng-hide="connected">
        <div class="item center">
            <p>Disconnected - try back later</p>
        </div>
    </div>
  </ion-content>
</ion-view>
