<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Blog Tab -->
  <ion-tab title="Read" icon="icon ion-ios7-bookmarks" href="#/tab/blog">
    <ion-nav-view name="tab-blog"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Write" icon="icon ion-ios7-compose" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
