<ion-view title="Account">
  <ion-content class="has-header padding">
    <form class="list" ng-submit="processLogin()">
        <label class="item item-input">
            <input type="text" placeholder="Username" name="j_username" ng-model="formData.j_username"/>
        </label>

        <label class="item item-input">
            <input type="password" placeholder="Password" name="j_password" ng-model="formData.j_password"/>
        </label>    

        <button type="submit" class="button button-block button-positive">
            Login
        </button>
    </form>

    <pre>
        {{formData}}
    </pre>

  </ion-content>
</ion-view>
